.main-wrap {
  display: flex;
  & > div {
    border: 1px solid beige;
    padding: 16px;
    flex: 1 1 50%;
    flex-direction: column;
    .title-item {
      background: aliceblue;
      cursor: pointer;
      padding: 4px;
      margin: 16px;
      border: 1px solid black;
    }
  }
}
